<h3>Edit your product:</h3>
<%= form_for @product do |f| %>
  <%= f.label :name, 'Product Name' %>:
  <%= f.text_field :name %><br />
  <%= f.label :brand, 'Brand' %>:
  <%= f.text_field :brand %><br />
  <%= f.submit %>
<% end %>
